<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="80x80" href="https://img.icons8.com/ultraviolet/80/000000/opened-folder.png">
    <link rel="stylesheet" href="../static/bootstrap.min.css" crossorigin="anonymous">
    <title>Library</title>
</head>

<body>
    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center" style="margin-top: 15px;">
                <li class="page-item {{ 'disabled' if prev == 0 }}"><a class="page-link" href="index{{ prev }}.html">Назад</a></li>
                {% for page in pages %}
                    <li class="page-item{{ ' active' if page == current }}"><a class="page-link"
                            href="index{{ page }}.html">{{ page }}</a></li>
                {% endfor %}
                <li class="page-item {{ 'disabled' if _next > pages|length }}"><a class="page-link" href="index{{ _next }}.html">Вперёд</a></li>
            </ul>
        </nav>
        {% for chunk in books %}
        <div class="row">
            {% for book in chunk %}
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../results/images/{{ book['image_file']|urlencode }}" class="card-img"
                                alt="{{ book['title'] }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ book['title']|e }}</h5>
                                <p class="card-text">{{ book['author']|e }}</p>
                                <p class="card-text"><a href="../results/books/{{ book['book_text']|urlencode }}" target="_blank">Читать</a></p>
                                {% for genre in book['genres'] %}
                                    <span class="badge bg-light text-dark">{{ genre }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <script src="../static/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
</body>

</html>